body {
  color: Darkblue;
  background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(https://KuraKoba.github.io/AnimeMemesDowload/TrinitySevenMemes/img/bg.jpg) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 10%;
}

section {
  color: Darkblue;
  backgroun: transparent;
  outline: none;
}
