body {
  background-color: black;
  text-align: center;
  margin: 0rem;
  font: sans-serif;
  color: black;
  margin-top: 100px;
}

#container {
  color: white;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  color: #000;
  display: block;
}

p {
	color: white;
	font-size: 24px;
}

audio { display:none;}
